.menu {
    width: 100%;
    /* height: 100%; */
    margin-block-end: 0;
    margin-block-start: 0;
    padding-inline-start: 0;
    list-style-type: none;

}
.item {
    padding: 4px 5px;
}
.item:hover {
    background:  rgb(221, 247, 214);
}