.buttons {
    margin-left: 20px;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.buttons ol {
    /* width: 350px; */
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-end: 0;

}
.item {
    height: 100%;
    list-style: none;
    padding: 0 10px;
    display: flex;
    align-items: center;
}
.item:hover {
    background-color: rgb(221, 247, 214);
}
.link {
    fill: gray;
}