.wrapper {
  
}
.header {
  width: 100%;
  height: 40px;
  background-color: white;
  border-top: 3px solid green;
  position: fixed;
  top: 0;
  box-shadow: 0 2px 3px 2px grey;
}
.footer{
  min-height: 200px;
  background: rgba(0, 0, 0, 0.774);
  color: rgb(187, 187, 187);
  padding: 0 15px
}
.bar {
  padding-top: 60px;
  padding-bottom: 30px;
  width: 200px;
  border-right: 1px solid rgb(194, 194, 194);
}
.main {
  margin: 0 auto;
  display: flex;
  max-width: 1200px;


  /* border: 1px solid gray; */
}
.landing {
  width: 100%;
  height: calc(100vh - 290px);
  padding-top: 60px;
  padding-bottom: 30px;
}
.landing-card {
  width: 500px;
  margin: 0 auto;
  border: 1px solid gray;
  padding: 20px;
  border-radius: 10px;

}
.content {
  padding-top: 60px;
  padding-bottom: 30px;
  width: 100%;
  /* border: 1px solid gray; */
}
.main-container {
  /* padding: 0 30px; */
  height: 100%;
  /* width: 100%; */
}
path{ fill:inherit; stroke:inherit; }
.item_hover {
  transform: scale(1);
  width: 300px;
  height: 200px;
  background: grey;
}